{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle":  ["error", { "allow": ["_id"] }]
  },
  "overrides": [
    {
      "files": ["error-handler.js"],
      "rules": {
        "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "next"}]
      }
    }
  ]
}